.Top{
    width: 100%;
    overflow: hidden;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-white);
    position: fixed;
    top:0;
    z-index: 10;
    padding: 0rem 2%;
    border-bottom: 0.5px solid rgb(80, 87, 92);
    
    background: var(--bg-gradient);
}

.Top ul{
    display: flex;
    gap: 1.5rem;
}
.Top ul li{
 
    list-style: none;
}

.Top ul a .topIcon{
    color: var(--text-white);
    font-size: 1.5rem;
    transition: all 0.5s ease;
}



.Top ul a .topIcon:hover{
    color: var(--hover-effect);
}
.Top .logo{
    width: 150px;
    height: 100%;
    padding:0px 20px;
    display: flex;
    align-items: center;
   
    margin-left: -10px;
   
    
}

/* .Top .logo img{
    width: 100%;
    height: 100%;
} */
.Top .logo h1{
    font-size: clamp(1.2rem,2.5vw, 2rem);
    font-family: 'Courier New', Courier, monospace;










}
/* ...............botton navbar here-------------------------------------------------- */
@media(max-width:390px){
.Top .logo h1{
    font-size: clamp(1rem,1.4vw, 2rem);
    font-family: 'Courier New', Courier, monospace;
}
.Top{
    justify-content: center;
}
.Top ul{
    gap: 0.5rem;
}
}


.navigation{
    width: 100%;
    overflow: hidden;
    background-color: var(transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    position: fixed;
    bottom:0;
    z-index: 100;
   

}
.navigation nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 420px;
    width: 100%;
    height: 70px;
    /* border: 2px solid var(--bg-black2); */
    background: var(--bg-gradient);
    border-radius: 10px;
    gap: 2.5rem;
    background-color: var(--bg-black);
    padding: 0.6rem 1.5rem;
    margin-bottom: 10px;
    z-index: 10;

}
@media(max-width:447px){
    .navigation nav{
        border-top:rgb(57, 56, 56) solid 1px;
    }
}
@media(max-width:400px){
.navigation nav{
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
     gap: 2.2rem;
}
}
nav li{
    list-style: none;
    transition: all 0.5s ease;
    
    
}


nav li a,span{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-gray);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    transition: all ease-in 0.5ms;
    transition-duration: 1s;
    
    
}
nav li span{
    display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
 font-size: 0.8rem;
}
nav li:hover span{
opacity: 1;
visibility: visible;
display: flex;
}
nav li a .icon{
    font-size:2rem;
    color: var(--text-white);
    transition: all ease-in 5ms;
}

@media(max-width:360px){
nav li a .icon{
    font-size: 1.5rem;
}

nav li span{
    font-size: 0.6rem;
}
}


.navigation nav li.active .icon{
    color: var(--hover-effect);
 
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-white);
  margin-left: 20px;
  transition: color 0.3s ease;
  border: 2px solid var(--text-gray);
  padding: 0.2rem 1rem;
  border-radius: 10px;
}
.theme-toggle-btn:hover {
  color: var(--hover-effect);
}



.light-mode .topIcon,
.light-mode .theme-toggle-btn {
  color: var(--text-gray);
}

.light-mode .topIcon:hover,
.light-mode .theme-toggle-btn:hover {
  color: var(--hover-effect);
}