.about{
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 80px;
    padding-top: 30px;
    background-color: var(--bg-black);
    margin: -8px;
    /* overflow-y: scroll; */
}

.about-me{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
   

}



.about-me .describe{
    width: 75%;

}

.span{
   
    background-color: var(--transfarent-about);
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0px;
    transition: all 5ms ease;
    transition-duration: 5ms;
    transition-property: all;
    transform-style:unset;
}
.span:hover{
    border: 2px solid rgb(120, 120, 234);
}

.describe hr{
    margin: 30px 0px;
    color:whitesmoke;
}

.about-me .describe h1,h2{
    color: var(--text-white);
    word-spacing: -1px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family:poppins;
    font-weight:800;
    
}
.about-me .describe p{
    font-size: 1.1rem;
}
.about-me .describe b{
    font-size: 1.5rem;
    color: var(--hover-effect);
    font-family:'Courier New', Courier, monospace;
    line-height: 2.3rem;
    word-spacing: 0.1px;
    letter-spacing: 0.5px;
}



/* ............................................................. */


.about-me .myself {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: end;
    padding-right: 5%;
  
    
}
.about-me .myself address{
  color: var(--hover-effect);
}

.about-me .myself address ul{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style: none;
    
}
.about-me .myself address ul li{
    border-bottom: 2px solid var(--text-gray);
    padding: 10px 5px;
}
.about-me .myself address li u{
    font-family: poppins;
    font-style: normal;
    margin-right: 10px;
    text-decoration: none;
}
.about-me .myself address li u,span{
    display: inline;
    margin-left: 0px;
}
.about-me .photo{
    width: 200px;
    height: 200px;
    /* border: 2px solid var(--text-white);  */
    overflow: hidden;
    border-radius: 15%;
    padding: 4px;
    position: relative;
}
.about-me .photo .animation{
    position: absolute;
    width: 50px;
    height: 35px;
    background: var(--hover-effect);
    top: 0;
    left: 0;
    z-index: 1;
    animation: borders 5s linear infinite;
    transition: all ease-in-out;
    

}
/* @keyframes borders{
     0% { top: 0; left: 0; }

  25%  { top: 0; 
         left: 90%;
         height: 50px; 
    }
  50%  { top: 92%; left: 93%; }
  75%  { top: 93%; left: 0;}

  100% { top: 0; 
          left: 0;
          height: 50px; 
        }
} */


.about-me .photo img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
    box-shadow: 0px 0px 15px var(--bg-black2);
    background-color: var(--text-gray);
    z-index: 2;
    position: relative;

}

.skills{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem 0px;
}
.skills h2{
    color: aqua;

}

.skills button{
   
    background-color:var(--bg-black2);
    color: var(--text-gray);
    border: var(--text-gray) 2px solid ;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}
.skills button:hover{
    background-color: transparent;
    background-color: transparent;  
    color: var(--text-white);
    border: var(--text-gray) 2px solid ;
}



@media(max-width:865px){

    .about-me{
        flex-direction: column;
    }
   .about-me .describe{
    width:100%;

} 
.about-me .myself{
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}
}


