.layout{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--bg-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout main{
   
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: var(--bg-black);
    
}
p{
    
    font-size: clamp(14px, 2vw , 20px);
    font-weight: 100;
     color: var(--text-gray);
     margin: 0.7rem 0rem;
     /* font-family:'Courier New', Courier, monospace; */
     font-family: poppins;
     word-spacing: 1px;
     line-height: 28px;
}
@media(max-width:500px){
   .layout main{
     padding: 60px 10px; 
     padding-top: 45px;
     padding-bottom: 90px;
    background-color: var(--bg-black);
}
}