@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Abril Fatface", serif;
   scroll-behavior: smooth;

}
:root{
  --bg-black:#161513;
  --text-white:#ffffff;
  --text-gray:#C5C5C5;
  --primary-gradient:linear-gradient(to right, #FF8660,#9A33FF  );
  --bg-black2:#1e1e1d;
  --hover-effect:#28e98c;
  --transfarent-about:rgba(74, 74, 74, 0.5);

  /* review page */
  --bg-reviewPage1:#000000;
  --bg-reviewPage:#080c14;

   --bg-gradient: linear-gradient(to right, #2a0845, #6441A5);
   --primary-gradient: linear-gradient(to right, #FF8660,#9A33FF);
}

.light-mode {
  --bg-black: aliceblue;
  --text-white: #090908;
  --text-gray: #393737;
  --primary-gradient:linear-gradient(to right, #FF8660,#9A33FF  ) ;
  --bg-black2: #d6d4d4;
  --hover-effect: #25ba81;
--transfarent-about:rgba(226, 221, 221, 0.5);
 --bg-reviewPage1:aliceblue;
  --bg-reviewPage:#ffffff;

  /* 🌤 light mode gradient */
  --bg-gradient: linear-gradient(to right, #cecfd2, #2593b4);
}

