

.story{
    background-color:var(--bg-black);
    width: 100%;
    min-height: 100vh;
    
    padding-bottom: 6rem;
    margin-top: -1.3rem;
    
}
@media(max-width:460px){
   .headerBanner{
    padding: 1.5rem;
    padding-top: 3rem !important;
   }
   
}

.story .headerBanner{
    background: linear-gradient(to right, #2563eb, #9333ea);
    min-height: 70vh;
    width: 100%;
   display: flex;
   gap: 0.5rem;
   padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}
.story .headerBanner .myImg2{
    border: 2px solid  #44077d;
    border-radius: 50%;
    width: 180px;
    height: 170px;
    animation: spin 2s ease forwards;
    
     
  

}
@keyframes spin {
  0%{
    transform: rotateY(0deg) rotateX(0deg);
  }
  100%{
    transform: rotateY(360deg) rotateX(15deg);
  }
}


.headerBanner h2{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 2rem;

}
.headerBanner .description{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: azure;
}


.ExperinceTitle{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    
}
.ExperinceTitle p{
    
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    background-color:var(--bg-black);
    animation: float 3s ease-in-out infinite;

}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.ExperinceTitle .icon{
    background-color: #775fe7;
    width: 4rem;
    height: 4.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    color: azure;

}
.ExperinceTitle span{
    color: var(--text-white);
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-weight: 500;
    letter-spacing: 0px;
    word-spacing: 0.5px;
}
/* header{
  
  
} */

header h2{
 font-size:clamp(1.5rem, 2.5vw, 1.8rem);
 
}
header p{
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.1rem;
    
}

.mainStory{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 0rem 0.8rem;
  
}

 .story .card{
    max-width: 600px;
    min-height: 400px;
    width: 100%;
    border: 2px solid blueviolet;
    border-radius: 1.2rem;
    padding: 1.2rem;
    
   
}
.card:hover{
    box-shadow: 0px 0px 10px rgb(102, 102, 187)
}

.card img{
    width: 100%;
    height: 260px;
    border-radius: 1rem;
}

.card p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem 0rem;
    

}
.card b{
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: 600;
    line-height: 1.4rem;
    word-spacing: 0.5px;
    letter-spacing: 0.7px;
}
.card span{
    font-size: 1rem;
    line-height: 1rem;
}

.card .description{
    font-size: 1.1rem;
    color: var(--text-white);
    font-weight: 400;
    font-family: sans-serif;
    overflow: hidden;
    line-height: 1.8rem;
}

.seeMore{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}









/* story details...................................... */

.storyDetails{
height: 100vh;
overflow-y: scroll;
padding: 0% 2%;
padding-bottom:6rem ;

}

.storyDetails img{
    max-width: 500px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: 2px slateblue solid;
    padding: 0.1rem;
}

.storyDetails span{
    display: block;
    margin: 1rem  0rem;
    text-decoration: underline;
}

.storyDetails p{
    font-size: clamp(1rem , 2vw , 1.3rem);
    font-family: sans-serif;
}
