

.story{
    background-color:var(--bg-black);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 6rem;
    
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  
}

header h2{
 font-size:clamp(1.5rem, 2.5vw, 1.8rem);
 
}
header p{
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.1rem;
    
}

.mainStory{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
  
}

 .story .card{
    max-width: 600px;
    min-height: 400px;
    width: 100%;
    border: 2px solid blueviolet;
    border-radius: 1.2rem;
    padding: 1.2rem;
    
   
}
.card:hover{
    box-shadow: 0px 0px 10px rgb(102, 102, 187)
}

.card img{
    width: 100%;
    height: 250px;
    border-radius: 1rem;
}

.card p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    

}
.card b{
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: 600;
    line-height: 1.4rem;
    word-spacing: 0.5px;
    letter-spacing: 0.7px;
}
.card span{
    font-size: 1rem;
    line-height: 1rem;
}

.card .description{
    color: var(--text-white);
    font-weight: 400;
    font-family: sans-serif;
    overflow: hidden;
}

.seeMore{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}









/* story details...................................... */

.storyDetails{
height: 100vh;
overflow-y: scroll;
padding: 0% 2%;
padding-bottom:6rem ;

}

.storyDetails img{
    max-width: 500px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: 2px slateblue solid;
    padding: 0.1rem;
}

.storyDetails span{
    display: block;
    margin: 1rem  0rem;
    text-decoration: underline;
}

.storyDetails p{
    font-size: clamp(1rem , 2vw , 1.3rem);
    font-family: sans-serif;
}
